<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar categoria</title>
    <link rel="stylesheet" href="css/root.css">
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
    <div class="main_home_page">
        <div class="menu_div">
            <%- include('partials/header'); -%>
        </div>

    
        <div class="content_conte">
            <div class="div_cadastrardocumento">
                <fieldset class="fieldset_forms">
                    <legend>Cadastrar movimento de lote classificado </legend>
                    <% if (message !="") { %>
                        <section id="meuElemento" class=" <%= type  %>">
                          <p><%= message  %></p>
                        </section>
                      <% } %>
                    <form class="forms_cadastrardoc" action="/classificar" method="post">
                        <div class="div_iten_forms">
                            <label for="">Lote:</label>
                            <select name="lote" >
                                <option value="">Selecione</option>
                                <% Lt.forEach(lote => { %>
                                    <option value="<%=lote.n_lote %>"><%= lote.n_lote %></option>
                                  <% }); %>
                            </select>
                        </div>
                        
                        <div class="div_iten_forms">
                            <label for="">Movimento:</label>
                            <input  value="loteclasificado" name="localidade" type="hidden">
                        </div>

                        
                        <div class="div_iten_forms">
                            <button class="btn_salvar" type="submit">Salvar</button>
                            <button class="btn_cancelar" ><a href="/sistem">Cancelar</a></button>
                        </div>
                        
                    </form>

                </fieldset>
            </div>
        </div>
    </div>

    <div class="meu_modal">
        
    </div>
</body>

<script src="js/automation.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</html>